In [37]:
patinhos = [5,4,3,2,1]
for cadaPatinho in patinhos:
    if cadaPatinho == 1: print ("1 foram passear, além da montanha para brincar. A mamãe gritou 'QUA QUA QUA QUA' mas nenhum patinho voltou de lá")
    else: print(cadaPatinho, "patinhos foram passear, além da montanha para brincar. A mamãe gritou 'QUA QUA QUA QUA' mas só", cadaPatinho-1, "patinhos voltaram de lá")

5 patinhos foram passear, além da montanha para brincar. A mamãe gritou 'QUA QUA QUA QUA' mas só 4 patinhos voltaram de lá
4 patinhos foram passear, além da montanha para brincar. A mamãe gritou 'QUA QUA QUA QUA' mas só 3 patinhos voltaram de lá
3 patinhos foram passear, além da montanha para brincar. A mamãe gritou 'QUA QUA QUA QUA' mas só 2 patinhos voltaram de lá
2 patinhos foram passear, além da montanha para brincar. A mamãe gritou 'QUA QUA QUA QUA' mas só 1 patinhos voltaram de lá
1 foram passear, além da montanha para brincar. A mamãe gritou 'QUA QUA QUA QUA' mas nenhum patinho voltou de lá

In [8]:
mariana1 = "Mariana conta 1"
mariana11 = "Mariana conta 1, é 1 é 1"
mariana2 = "Mariana conta 2"
mariana12 = "Mariana conta 2, é 1 é 2"
mariana3 = "Mariana conta 3"
mariana123 = "Mariana conta 3, é 1 é 2 é 3"
mariana4 = "Mariana conta 4"
mariana1234 = "Mariana conta 4, é 1 é 2 é 3 é 4"
mariana5 = "Mariana conta 5"
mariana12345 = "Mariana conta 5, é 1 é 2 é 3 é 4 é 5"

print (mariana1)
print (mariana2)

Mariana conta 1
Mariana conta 2

In [2]:
marianaConta = [1,2,3,4,5,6,7,8,9,10]
n= 1
for n in marianaConta:
    if n ==1:
        print("Mariana conta", (n), "Mariana conta", (n), "é ana, viva a mariana")
    else:
        print(f"Mariana conta", (n), "Mariana conta", marianaConta[0:n], "é ana, viva a mariana")

Mariana conta 1 Mariana conta 1 é ana, viva a mariana
Mariana conta 2 Mariana conta [1, 2] é ana, viva a mariana
Mariana conta 3 Mariana conta [1, 2, 3] é ana, viva a mariana
Mariana conta 4 Mariana conta [1, 2, 3, 4] é ana, viva a mariana
Mariana conta 5 Mariana conta [1, 2, 3, 4, 5] é ana, viva a mariana
Mariana conta 6 Mariana conta [1, 2, 3, 4, 5, 6] é ana, viva a mariana
Mariana conta 7 Mariana conta [1, 2, 3, 4, 5, 6, 7] é ana, viva a mariana
Mariana conta 8 Mariana conta [1, 2, 3, 4, 5, 6, 7, 8] é ana, viva a mariana
Mariana conta 9 Mariana conta [1, 2, 3, 4, 5, 6, 7, 8, 9] é ana, viva a mariana
Mariana conta 10 Mariana conta [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] é ana, viva a mariana

In [ ]:
marianaConta = "mariana conta é , é "
for n in [1,2,3,4,5,6,7,8,9,10]
print("Mariana conta ")

In [4]:
incomadam = "incomodam,"
for n in [1,2,3,4,5,6,7,8,9,10]:
    if n == 1: print(n, "Elefante incomoda muita gente")
    elif n % 2 == 0: print(n,"elefantes", incomadam * n , "Muito mais")
    else: print(n, "Elefantes incomodam muita gente")

1 Elefante incomoda muita gente
2 elefantes incomodam,incomodam, Muito mais
3 Elefantes incomodam muita gente
4 elefantes incomodam,incomodam,incomodam,incomodam, Muito mais
5 Elefantes incomodam muita gente
6 elefantes incomodam,incomodam,incomodam,incomodam,incomodam,incomodam, Muito mais
7 Elefantes incomodam muita gente
8 elefantes incomodam,incomodam,incomodam,incomodam,incomodam,incomodam,incomodam,incomodam, Muito mais
9 Elefantes incomodam muita gente
10 elefantes incomodam,incomodam,incomodam,incomodam,incomodam,incomodam,incomodam,incomodam,incomodam,incomodam, Muito mais